<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>
  <br>
  <br>
  <br>
  <form action="http://localhost:3000/post" method="POST">
    <label>First Name:</label>
    <input type="text" name="firstName"><br>
    <label>Last Name:</label>
    <input type="text" name="lastName"><br>
    <button type="submit">Send to backend</button>
  </form>
  <br>
  <br>
  <br>
  <main>
    <ul>
      <% people.forEach((person) => { %>
        <li><%= person.firstName %> <%= person.lastName %></li>
      <% }) %>
    </ul>
  </main>

  <!-- <footer>
    <%- include('../partials/footer'); %>
  </footer> -->
    
</body>
</html>